* {
  box-sizing: border-box;
}

h1,
body {
  margin: 0;
  font: inherit;
}

.off {
  display: none;
}

.main-container {
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
}

.screen {
  background-color: aquamarine;
  border-radius: 10px;
}
