* {
  box-sizing: border-box;
}

h1,
body {
  margin: 0;
}

ul {
  width: 100%;
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
  justify-content: center;
}

.off {
  display: none !important;
}

.main-container {
  width: 100%;
  height: 100vh;
  padding: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://i.pinimg.com/originals/9a/bc/59/9abc59cab8bd6add3ec91706a9d57530.jpg);
  background-size:contain;
}

.guess-box {
  height: 100%;
  width: 100%;
  background-image: url(../images/tapete.png);
  background-size: cover;
  border-radius: 50px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.40);
}

.first-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.second-screen {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
}

.cards-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.down-card {
  width: 29.4vh;
  height: 50vh;
  background-image: url(../images/background.png);
  background-size: cover;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.40);
}

.♦-up-card {
  color:rgb(198, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 29.4vh;
  height: 50vh;
  background-image: url(../images/upDiamond.png);
  background-size: cover;
  border: solid 2px black;
  border-radius: 30px;
  padding: 10px;
  font-size: 5vh;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.40);
}

.♥-up-card {
  color:rgb(198, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 29.4vh;
  height: 50vh;
  background-image: url(../images/upHeart.png);
  background-size: cover;
  border: solid 2px black;
  border-radius: 30px;
  padding: 10px;
  font-size: 5vh;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.40);
}

.♣-up-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 29.4vh;
  height: 50vh;
  background-image: url(../images/upClover.png);
  background-size: cover;
  border: solid 2px black;
  border-radius: 30px;
  padding: 10px;
  font-size: 5vh;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.40);
}

.♠-up-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 29.4vh;
  height: 50vh;
  background-image: url(../images/upSpade.png);
  background-size: cover;
  border: solid 2px black;
  border-radius: 30px;
  padding: 10px;
  font-size: 5vh;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.40);
}


.top-values {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.bottom-values {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.button {
  margin: 0 20px;
}

.overview{
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #0000004f;
}

.winner{
  width: 50vh;
  height: 50vh;
  background-image: url(../images/win.png);
  background-size: cover;

}

.loser{
  width: 50vh;
  height: 50vh;
  background-image: url(../images/lose.png);
  background-size: cover;
}

.tie{
  width: 50vh;
  height: 50vh;
  background-image: url(../images/tie.png);
  background-size: cover;
}