* {
  box-sizing: border-box;
}

:root {
  --main-color: #000;
  --secondary-main-color: #f5f5f5;
  --shadow-color: #00000066;
}

h1,
body {
  margin: 0;
}

html {
  font-family: "Russo One", sans-serif;
}

ul {
  width: 100%;
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
  justify-content: center;
}

.button {
  padding: 10px;
  border-radius: 2vh;
  font-family: inherit;
  background-color: var(--secondary-main-color);
  border: solid 2px var(--main-color);
  font-size: medium;
}

.button:hover {
  cursor: pointer;
  color: var(--secondary-main-color);
  background-color: var(--main-color);
}

.off {
  display: none !important;
}

.main-container {
  width: 100%;
  height: 100vh;
  padding: 15vh 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://i.pinimg.com/originals/9a/bc/59/9abc59cab8bd6add3ec91706a9d57530.jpg);
  background-size: contain;
}

.guess-box {
  height: 100%;
  width: 100%;
  background-image: url(../images/tapete.png);
  background-size: cover;
  border-radius: 50px;
  box-shadow: 10px 5px 5px var(--shadow-color);
}

@keyframes appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  60% {
    transform: scale(1.05);
  }

  80% {
    transform: scale(0.95);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.first-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.second-screen {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards-box {
  width: 100%;
  padding: 10vh;
  display: flex;
  justify-content: space-around;
}

.main-title {
  margin: 20px;
}

.♦-up-card {
  color: #c60000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 29.4vh;
  height: 50vh;
  background-image: url(../images/upDiamond.png);
  background-size: cover;
  border: solid 2px var(--main-color);
  border-radius: 2.5vh;
  padding: 10px;
  font-size: 5vh;
  box-shadow: 10px 5px 5px var(--shadow-color);
  animation-name: appear;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.♥-up-card {
  color: #c60000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 29.4vh;
  height: 50vh;
  background-image: url(../images/upHeart.png);
  background-size: cover;
  border: solid 2px var(--main-color);
  border-radius: 2.5vh;
  padding: 10px;
  font-size: 5vh;
  box-shadow: 10px 5px 5px var(--shadow-color);
  animation-name: appear;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.♣-up-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 29.4vh;
  height: 50vh;
  background-image: url(../images/upClover.png);
  background-size: cover;
  border: solid 2px var(--main-color);
  border-radius: 2.5vh;
  padding: 10px;
  font-size: 5vh;
  box-shadow: 10px 5px 5px #00000066;
  animation-name: appear;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.♠-up-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 29.4vh;
  height: 50vh;
  background-image: url(../images/upSpade.png);
  background-size: cover;
  border: solid 2px var(--main-color);
  border-radius: 2.5vh;
  padding: 10px;
  font-size: 5vh;
  box-shadow: 10px 5px 5px var(--shadow-color);
  animation-name: appear;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.top-values {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.bottom-values {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.button {
  margin: 0 20px;
}

.overview {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #0000004f;
}

.winner {
  width: 50vh;
  height: 50vh;
  background-image: url(../images/win.png);
  background-size: cover;
  animation-name: appear;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.loser {
  width: 50vh;
  height: 50vh;
  background-image: url(../images/lose.png);
  background-size: cover;
  animation-name: appear;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.tie {
  width: 50vh;
  height: 50vh;
  background-image: url(../images/tie.png);
  background-size: cover;
  animation-name: appear;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.down-card {
  width: 29.4vh;
  height: 50vh;
  background-image: url(../images/background.png);
  background-size: cover;
  border-radius: 2.5vh;
  padding: 10px;
  box-shadow: 10px 5px 5px var(--shadow-color);
  animation-name: appear;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.flip-card {
  width: 29.4vh;
  height: 50vh;
  perspective: 2000px;
  animation-name: appear;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 10px 5px 5px var(--shadow-color);
  border-radius: 2.5vh;
  transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
  transform-style: preserve-3d;
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2.5vh;
  backface-visibility: hidden;
  background-image: url(../images/background.png);
  background-size: cover;
}
.flip-card-front {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.flip-card-back {
  transform: rotateY(180deg);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(-180deg);
}
